<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.hello.mapper.InpatientRecordMapper">
    
    <select id="selectAll" resultType="com.example.hello.entity.InpatientRecord">
        SELECT * FROM inpatient_record
    </select>
    
    <select id="selectByCondition" resultType="com.example.hello.entity.InpatientRecord">
        SELECT * FROM inpatient_record
        <where>
            <if test="userId != null">
                AND user_id = #{userId}
            </if>
            <if test="doctorId != null">
                AND doctor_id = #{doctorId}
            </if>
            <if test="hospitalId != null">
                AND hospital_id = #{hospitalId}
            </if>
            <if test="reportId != null">
                AND report_id = #{reportId}
            </if>
        </where>
        ORDER BY create_time DESC
    </select>
    
    <select id="selectById" resultType="com.example.hello.entity.InpatientRecord">
        SELECT * FROM inpatient_record WHERE record_id = #{recordId}
    </select>
    
    <insert id="insert" parameterType="com.example.hello.entity.InpatientRecord">
        INSERT INTO inpatient_record (
            hospital_id, user_id, admission_diagnosis, discharge_summary, 
            doctor_id, report_id
        )
        VALUES (
            #{hospitalId}, #{userId}, #{admissionDiagnosis}, #{dischargeSummary}, 
            #{doctorId}, #{reportId}
        )
    </insert>
    
    <update id="update" parameterType="com.example.hello.entity.InpatientRecord">
        UPDATE inpatient_record
        <set>
            <if test="admissionDiagnosis != null">admission_diagnosis = #{admissionDiagnosis},</if>
            <if test="dischargeSummary != null">discharge_summary = #{dischargeSummary},</if>
            <if test="reportId != null">report_id = #{reportId},</if>
        </set>
        WHERE record_id = #{recordId}
    </update>
    
    <delete id="deleteById">
        DELETE FROM inpatient_record WHERE record_id = #{recordId}
    </delete>
</mapper> 