<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.hello.mapper.PhysicalExamBookingMapper">
    
    <select id="selectAll" resultType="com.example.hello.entity.PhysicalExamBooking">
        SELECT * FROM physical_exam_booking
    </select>
    
    <select id="selectByCondition" resultType="com.example.hello.entity.PhysicalExamBooking">
        SELECT * FROM physical_exam_booking
        <where>
            <if test="userId != null">
                AND user_id = #{userId}
            </if>
            <if test="packageType != null and packageType != ''">
                AND package_type = #{packageType}
            </if>
            <if test="status != null and status != ''">
                AND status = #{status}
            </if>
            <if test="doctorId != null">
                AND doctor_id = #{doctorId}
            </if>
        </where>
        ORDER BY exam_time DESC
    </select>
    
    <select id="selectById" resultType="com.example.hello.entity.PhysicalExamBooking">
        SELECT * FROM physical_exam_booking WHERE exam_id = #{examId}
    </select>
    
    <insert id="insert" parameterType="com.example.hello.entity.PhysicalExamBooking">
        INSERT INTO physical_exam_booking (
            user_id, package_type, exam_time, institution, status, doctor_id
        )
        VALUES (
            #{userId}, #{packageType}, #{examTime}, #{institution}, #{status}, #{doctorId}
        )
    </insert>
    
    <update id="update" parameterType="com.example.hello.entity.PhysicalExamBooking">
        UPDATE physical_exam_booking
        <set>
            <if test="packageType != null">package_type = #{packageType},</if>
            <if test="examTime != null">exam_time = #{examTime},</if>
            <if test="institution != null">institution = #{institution},</if>
            <if test="status != null">status = #{status},</if>
            <if test="doctorId != null">doctor_id = #{doctorId},</if>
        </set>
        WHERE exam_id = #{examId}
    </update>
    
    <delete id="deleteById">
        DELETE FROM physical_exam_booking WHERE exam_id = #{examId}
    </delete>
</mapper> 